<div class="container">

    <h1>India Monsoon </h1>
    <p>India should experience a “normal” June-September monsoon season as the effects of the La Nina weather pattern ease, according to a report by Skymet Weather Services Pvt Ltd.
    
      “There is sufficient cooling in the Pacific Ocean now and La Nina conditions are at the peak,” the private forecaster said on its website on Sunday, adding that initial readings indicate that there are still risks in some areas.
      
      The monsoon season is considered normal when total rains are recorded between 96% and 104% of the national average of just over 88 centimeters (45 inches), according to the weather office.
      
      The monsoon season is critical for Indian agriculture as it not only irrigates fields directly, but also fills reservoirs for crops sown in the winter. The season shapes the livelihood of millions and influences food prices. Insufficient rain in the country, the world’s second-largest producer of rice and wheat, often leads to drinking-water shortages, lower crop output and higher imports of commodities such as edible oils.</p>
    
      <div class="card-group">
        <div class="card">
          <img src="../../../assets/images/kaka.webp" class="card-img-top" width="450" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mumbai Monsoon</h5>
            <p class="card-text">The monsoon season is considered normal when total rains are recorded between 96% and 104% of the national average of just over 88 centimeters (45 inches).</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/havyrain.jpg" class="card-img-top" width="450" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title">Heavy rain triggers floods, landslides</h5>
            <p class="card-text">Jamshedpur, July 14: A subdued monsoon would result in light rainfall activity over Jharkhand on Thursday, predicted IMD’s Ranchi Meteorological Centre.
    
              Weathermen also issued an alert of moderate lightning accompanied by rain in some isolated areas today.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../../../assets/images/raining-india.webp" class="card-img-top" width="450" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ahmedabad Raining</h5>
            <p class="card-text">A boundary wall collapsed on five labourers in the Ognaj area of Ahmedabad in another spell of heavy rainfall on Thursday morning, according to officials. The incident happened when the labourers working at an under-construction site took refuge from the rain near the adjoining boundary wall, they said.
    
              The fire department conducted a rescue operation and rushed them to Sola Civil Hospital. Three of them are reported to be critical, said officials.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
