<div class="container mt-5">
    <div class="alert alert-primary" role="alert">
        <span [innerText]="title"></span>
    </div>

    <div class="alert alert-success" role="alert">
        Username : <span [innerText]="username"></span>
    </div>
    <div class="alert alert-danger" role="alert">
        Age : <span [innerText]="age"></span>
    </div>
    <div class="alert alert-warning" role="alert">
        Email :<input [value]="email" [id]="email" />
    </div>
    <div class="alert alert-info" role="alert">
        Is Maaried : <span [innerText]="isMarried"></span>
    </div>

    <div class="alert alert-primary" role="alert">
        user id : <span [innerText]="user.id"></span> <br /> user name :<span [innerText]="user.name"></span> <br /> user email : <span [innerText]="user.email"></span>
        <br /> user status : <span [innerText]="user.status"></span>
    </div>

    <div class="alert alert-danger" role="alert">
        Comapnies : <span [innerText]="companies"></span>
    </div>
</div>
